@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .db-button {
    &._main {
      @apply bg-sky-600 text-white hover:bg-sky-800 dark:bg-sky-900 hover:dark:bg-sky-800;
    }

    @apply h-7 rounded-lg border border-slate-200 bg-gray-100 px-3 text-sm text-gray-700 shadow-sm hover:bg-gray-200 hover:text-gray-900 disabled:cursor-not-allowed disabled:opacity-60 dark:border-gray-700 dark:bg-gray-700 dark:dark:text-tnormal hover:dark:bg-[#414658] hover:dark:text-white disabled:hover:dark:bg-gray-700 disabled:hover:dark:text-tnormal;
  }

  .db-textarea {
    @apply db-scrollbar appearance-none overflow-hidden overflow-y-auto rounded-lg border bg-white p-4 py-3 shadow-slate-300 focus:outline-none dark:border-border border-gray-200 dark:bg-darkest dark:text-tlight placeholder:dark:text-gray-500 placeholder:text-gray-400;
  }

  .db-input {
    @apply h-9 rounded-md border bg-white px-2.5 py-1.5 text-sm outline-none dark:border-border border-gray-300 dark:bg-darkest dark:text-tlight placeholder:dark:text-gray-500 placeholder:text-gray-400;
  }

  .db-prose-code {
    @apply break-words rounded-sm bg-slate-200 p-[2px_5px_3px_5px] font-mono text-[90%] font-normal before:content-[''] after:content-[''] dark:bg-darkest;
  }

  .db-prose-h2 {
    @apply mb-4 border-b-[0.5px] border-slate-500 pb-1 text-xl font-semibold;
  }

  .db-prose-a {
    @apply underline underline-offset-4 hover:text-sky-600 dark:text-tlight dark:hover:text-white;
  }

  .db-prose {
    @apply prose max-w-none text-slate-700 dark:prose-invert dark:text-tlight;
    @apply prose-code:db-prose-code;
    @apply prose-headings:mt-6;
    @apply prose-h2:db-prose-h2;
    @apply prose-h3:text-lg;
    @apply prose-a:db-prose-a;

    > *:first-child {
      margin-top: 0;
    }
  }

  .db-around-border {
    @apply border border-transparent bg-white shadow-lg dark:border-border dark:bg-dark dark:shadow-none;
  }

  .db-icon-text {
    @apply w-fit rounded-md bg-slate-200 p-1 font-semibold leading-none text-inherit dark:bg-light;
  }

  .db-bottom-class {
    @apply flex items-center gap-1 whitespace-nowrap text-sm hover:text-sky-600 dark:text-tnormal hover:dark:text-white;
  }
}

.prose,
.db-prose {
  pre {
    .codeStyle {
      padding: 0 !important;
      margin: 0 !important;
      background: transparent !important;
      overflow: visible !important;
    }
    code:before {
      margin-left: -5px !important;
    }
    code:after {
      display: none;
    }
    code[class*='language-'] {
      .linenumber:last-child {
        display: none !important;
      }
    }
    & > code {
      background: transparent !important;
    }
  }
}

.db-scrollbar,
.prose code,
.codeStyle,
.prose pre {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #4e5361;
    border-radius: 8px;
    &:hover {
      background: #adb5bd;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.light {
  .db-scrollbar,
  .prose code,
  .codeStyle,
  .prose pre {
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      &:hover {
        background: #999;
      }
    }
  }
}
