@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .db-scrollbar,
  .prose code,
  .codeStyle,
  .prose pre {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #4e5361;
      border-radius: 8px;
      &:hover {
        background: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &.m2it-scrollbar-small {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 7px;
      }
    }
  }

  .db-button {
    &._main {
      @apply bg-sky-900 hover:bg-sky-800;
    }

    @apply h-7 rounded-lg border-gray-800 bg-gray-700 px-3 text-sm text-tnormal shadow-md
      hover:bg-[#414658] hover:text-white disabled:cursor-not-allowed
      disabled:opacity-50 disabled:hover:bg-gray-700 disabled:hover:text-tnormal;
  }

  .db-textarea {
    @apply db-scrollbar appearance-none overflow-hidden overflow-y-auto rounded-lg border border-border
      bg-darkest p-4 py-3 text-tlight shadow-slate-300 placeholder:text-gray-500
      focus:outline-none;
  }

  .db-input {
    @apply h-9 rounded-md border border-border bg-darkest px-2.5
      py-1.5 text-sm text-tlight outline-none placeholder:text-gray-500;
  }

  .db-prose-code {
    @apply break-words rounded-sm bg-darkest p-[2px_5px_3px_5px]
    font-mono text-[85%] font-normal before:content-[''] after:content-[''];
  }

  .db-prose-h2 {
    @apply mb-4 border-b-[0.5px] border-slate-500 pb-1 text-xl font-semibold text-tlight;
  }

  .db-prose {
    @apply text-tnormal;
    @apply prose prose-invert max-w-none;
    @apply prose-code:db-prose-code;
    @apply prose-headings:mt-6;
    @apply prose-h2:db-prose-h2;
    @apply prose-h3:text-lg;
  }
}

.prose,
.db-prose {
  pre {
    .codeStyle {
      padding: 0 !important;
      margin: 0 !important;
      background: transparent !important;
    }
    code:before {
      margin-left: -5px !important;
    }
    code:after {
      display: none;
    }
    code[class*='language-'] {
      .linenumber:last-child {
        display: none !important;
      }
    }
  }
}
